body {
  font-family: Roboto;
  background: #ffffff;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.solutions,
.footer {
  background-color: #2e2f42;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button:hover {
  background-color: #404bbf;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo span {
  color: #4d5ae5;
}

.menu .link {
  font-weight: 500;
  color: #2e2f42;
}

.contacts .link {
  font-weight: 400;
  color: #434455;
}

.menu .link:hover,
.contacts .link:hover {
  color: #404bbf;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.benefits p,
.team p,
.portfolio p {
  font-weight: 400;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}

.team h3 {
  text-align: center;
}
.team p {
  text-align: center;
}

.footer p {
  font-weight: 400;
  color: #f4f4fd;
}
