body {
  font-family: Roboto;
  background: #ffffff;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}

.solutions,
.footer {
  background-color: #2e2f42;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #ffffff;
}

.button {
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  display: block;
  margin: 48px auto 0;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.logo span {
  color: #4d5ae5;
}

.menu .link {
  font-weight: 500;
  color: #2e2f42;
  padding: 24px 0;
  display: inline-block;
}

.contacts .link {
  font-weight: 400;
  color: #434455;
}

.menu .link:hover,
.contacts .link:hover {
  color: #404bbf;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.benefits p,
.team p,
.portfolio p {
  font-weight: 400;
  color: #434455;
}
.team {
  background-color: #f4f4fd;
}

.team h3 {
  text-align: center;
}
.team p {
  text-align: center;
}

.footer p {
  font-weight: 400;
  color: #f4f4fd;
}

.menu ul {
  display: flex;
  gap: 40px;
}

.nav-wrapper {
  display: flex;
  gap: 76px;
  align-items: center;
}

.contacts ul {
  display: flex;
  gap: 40px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.solutions {
  padding: 188px 0;
}

.benefits {
  padding: 120px 0;
}
.benefits ul {
  margin-top: 72px;
  display: flex;
  gap: 24px;
}

.benefits li {
  max-width: calc((100% - 72px) / 4);
}

.benefits p {
  margin-top: 8px;
}

.team {
  padding: 120px 0;
}

.team ul {
  margin-top: 72px;
  display: flex;
  gap: 24px;
}

.team li {
  max-width: calc((100% - 72px) / 4);
  background-color: #fff;
  padding-bottom: 32px;
  overflow: hidden;
}

.team h3 {
  margin-top: 32px;
}

.team p {
  margin-top: 8px;
}

.team img {
  object-fit: cover;
}

.portfolio {
  padding: 120px 0;
}
.portfolio ul {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.portfolio li {
  max-width: calc((100% - 48px) / 3);
  overflow: hidden;
  padding-bottom: 32px;
}

.portfolio img {
  object-fit: cover;
}
.portfolio h3 {
  margin-top: 32px;
  padding-left: 16px;
}
.portfolio p {
  margin-top: 8px;
  padding-left: 16px;
}

.footer {
  padding: 100px 0;
}

.footer .logo {
  color: #fff;
}

.footer p {
  margin-top: 16px;
  max-width: 264px;
}
